{% layout 'layouts/base' %}
<section class="error-404">
  <h1>Página não encontrada</h1>
  <p>O conteúdo <code>{{ route.path }}</code> não existe.</p>
  <p><a href="/">Voltar para a home</a></p>
</section>
