{% comment %}Partial: cabeçalho com menu primário via {% nav_menu 'primary' %}{% endcomment %}
<header class="site-header">
  <div class="site-header-inner">
    <a href="/" class="site-brand">{{ site.title }}</a>
    {% nav_menu 'primary' %}
  </div>
</header>
